.navigation {
    display: inline;
    left: 50%;
    margin-right: -50%;
}
.img{
    left: 50%;
    margin-right: -50%;
}
.li{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 78px;
    color: red;
    letter-spacing: 2.7px;
    margin-left: 72px;
    display: inline;
}
.container{
    left: 50%;
    margin-right: -50%;
}
.h2{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    background-color: red;
    color: #fff;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border: none;
    margin-top: 1.8%;
}
.footer{
    color: #373737;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 82px 105px 29px 713px; 
}